@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');   

body {
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.nav-flex-container{
  display: flex;
  justify-content: space-between;
  margin: 0 134px;
  padding: 2px 15px;
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  align-items: center;
}

#folded-menu-icon{
  width: 16px;
  height: 16px;
  padding-right: 20px;
}

#search-icon{
  width:  16px;
  height: 16px;
  padding-right: 20px;
}

#nav-left-text{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding-right: 20px;
  letter-spacing: 0.7px;
}

#logo{
  width: 195px;
  height: 26px;
}

.nav-right-container{
  display: flex;
  align-items: baseline;
}

form button{
  background-color: #121212;
  color: #fff;
  box-sizing:border-box;
  height: 32px;
  letter-spacing: 0.01em;
  border: solid 1px #121212;
  border-radius: 3px;
  margin-top: 1px;
  padding: 9px 13px 7px;
}

#nav-right-suscribe{
  font-family:  helvetica, arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.01em;
  font-weight: 400;
  text-decoration: underline;
  padding-right: 20px;
}

h1{
  font-family:georgia, "times new roman", times, serif;
  font-size: 38px;
  color: #121212;
  font-weight: 700;
  line-height: 48px;
  font-style: italic;
  text-align: left;
  padding-top: 40px;
  padding-left: 34%;
}

h1>span{
  text-align: left;
}

.main-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-img img, .main-img p{
  width: 65%;
  color: #6666;
}

.main-img p > span {
  color: #a7a8a7;
}

.main-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30%;
  width: 50%;
}

#writer {
  width: 100%;
}

#writer h4 {
  left: 17.5%;
  display: block;
}

article {
  margin-right: 40px;
}

article p {
  width: 80%;
}

.main-icons{
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.main-icons-right {
  display: flex;
}

.main-icons-right div {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
  margin-left: 10px;
  
}


.main-icons-right div img {
  padding-top: 7px;
}

.main-icons-right :nth-child(5) {
  background-color: white;
}


.article-subscribe {
  text-align: center;
}

.article-subscribe p {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.section-2 {
  display: flex;
}

.section-2 aside {
  align-self: center;
  margin-right: 20%;
  
}

.section-2 aside img {
  width: 75px;
  height: 75px;
}

.section-2 aside div {
  display: flex;
  margin-bottom: 15px;
}

.section-2 aside div p {
  width: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

.real-container {
  width: 100%;
  display: flex;
}

.inflation-grid-container{
  margin: 0 auto;
  width: 65%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
}

.inflation-description{
  display: block;
}

.inflation-item  img{
  max-width: 240px;
  max-height: 132px;
}

.inflation-description{
  width: 240px;
  font-family: arial, serif;
  font-size: 13px;
  font-weight: 300;
  line-height:17px
}

.inflation-description span{
  font-weight: 700;
  font-size: 11;
 }


 .inflation-desc p{
  font-family:  'georgia', "times new roman", times, serif;
   font-size: 16px;
   color: 3333;
 }
 .inflation-desc{
   font-family:  'georgia', "times new roman", times, serif;
   font-size: 14px;
   font-weight: 300;
   color: #727272;
   line-height: 18px;
  
 }

 .inflation-container {
   position: relative;
   left: 18%;
 }

 iframe {
   width: 100%;
   height: 315px;
 };

 #video {
   width: 800px;
 }