@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');

body {
  padding: 0;
  margin: 0;
}

header {
  border-bottom: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.nav-flex-container{
  display: flex;
  justify-content: space-between;
  margin: 0 134px;
  padding: 2px 15px;
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  align-items: center;
}

#folded-menu-icon{
  width: 16px;
  height: 16px;
  padding-right: 20px;
}

#search-icon{
  width:  16px;
  height: 16px;
  padding-right: 20px;
}

#nav-left-text{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding-right: 20px;
  letter-spacing: 0.7px;
}

#logo{
  width: 195px;
  height: 26px;
}

.nav-right-container{
  display: flex;
  align-items: baseline;
}

form button{
  background-color: #121212;
  color: #fff;
  box-sizing:border-box;
  height: 32px;
  letter-spacing: 0.01em;
  border: solid 1px #121212;
  border-radius: 3px;
  margin-top: 1px;
  padding: 9px 13px 7px;
}

#nav-right-suscribe{
  font-family:  helvetica, arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.01em;
  font-weight: 400;
  text-decoration: underline;
  padding-right: 20px;
}

h1{
  font-family:georgia, "times new roman", times, serif;
  font-size: 38px;
  color: #121212;
  font-weight: 700;
  line-height: 48px;
  font-style: italic;
  text-align: left;
  padding-top: 40px;
  padding-left: 34%;
}

h1>span{
  text-align: left;
}

.main-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-img img, .main-img p{
  width: 65%;
  color: #6666;
}

.main-img p > span {
  color: #a7a8a7;
}

.main-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30%;
}

#writer {
  width: 100%;
}

#writer h4 {
  left: 17.5%;
  display: block;
}

article p {
  width: 65%;
}

.main-icons{
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.article-subscribe {
  text-align: center;
}

section {
  display: flex;
}

section aside {
  align-self: center;
  margin-right: 15px;
  
}

section aside img {
  width: 75px;
  height: 75px;
}

section aside div {
  display: flex;
}

.real-container {
  width: 90%;
}

.inflation-grid-container{
  display: grid;
  border: 1px solid #000;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
}

.inflation-description{
  display: block;
}